@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

html{
  & * {
    @apply text-base;
  }
}

@media only screen and (max-width: 768px){
  html{
    font-size: 87.5%;
  }
}

.btn{
  @apply text-base;
}